#clock {
  width: 400px;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  background-color: none;
  color: black;
}

hr {
  width: 40%;
}

#timerBar {
  margin: 40px 0 0 0;
  width: 420px;
  height: 2px;
  margin: 0 auto;
  background-color: black;
}
